Project/Library/
Project/Temp/
Project/Project.sln
Project/Project.userprefs
Project/Project-csharp.sln
Project/Assembly-CSharp-vs.csproj
Project/Assembly-CSharp.csproj
Project/ProjectSettings/EditorSettings.asset
